In [1]:
import pandas as pd

In [5]:
dict_fin= {
    "JP Morgan Chase" : 327,
    "Bank of America" : 302,
    "Citigroup" : 173,
    "Wells Fargo" : 273,
    "Goldman Sachs": 87,
    "Morgan Stanley": 72,
    "U.S. Bancorp": 83,
    "TD Bank": 108,
    "PNC Financial Services": 67,
    "Capital One": 47,
    "FNB Corporation": 4,
    "First Hawaiian Bank": 3,
    "Ally Financial": 12,
    "Wachovia": 145,
    "Republic Bancorp": .97,
    }

In [10]:
dict_fin.update({"Citigroup":173})

In [11]:
dict_fin.update({"American Express": 33})

In [15]:
del dict_fin["Wachovia"]

In [21]:
dict_fin

{'JP Morgan Chase': 327,
 'Bank of America': 302,
 'Citigroup': 173,
 'Wells Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'U.S. Bancorp': 83,
 'TD Bank': 108,
 'PNC Financial Services': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'First Hawaiian Bank': 3,
 'Ally Financial': 12,
 'Republic Bancorp': 0.97,
 'American Express': 33}

In [33]:
dict

{'JP Morgan Chase': 327,
 'Bank of America': 302,
 'Citigroup': 173,
 'Wells Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'U.S. Bancorp': 83,
 'TD Bank': 108,
 'PNC Financial Services': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'First Hawaiian Bank': 3,
 'Ally Financial': 12,
 'Wachovia': 145,
 'Republic Bancorp': 0.97}

In [36]:
for key in dict_fin:
    print (key, 'corresponds to', dict_fin[key])

JP Morgan Chase corresponds to 327
Bank of America corresponds to 302
Citigroup corresponds to 173
Wells Fargo corresponds to 273
Goldman Sachs corresponds to 87
Morgan Stanley corresponds to 72
U.S. Bancorp corresponds to 83
TD Bank corresponds to 108
PNC Financial Services corresponds to 67
Capital One corresponds to 47
FNB Corporation corresponds to 4
First Hawaiian Bank corresponds to 3
Ally Financial corresponds to 12
Republic Bancorp corresponds to 0.97
American Express corresponds to 33

In [73]:
tmcap= 0
ctr=0
amcap=0
lbank= 0
sbank= 0
for key, value in dict_fin.items():
    tmcap = tmcap + value
    if value > lbank: 
        lbank = value
        print(key,value)                
    ctr=ctr+1

JP Morgan Chase 327

In [74]:
amcap = tmcap/ctr
print("Total Market Cap", tmcap)
print("Total number of banks", ctr)
print("Average Market Cap ", amcap)
print("Largest Bank", lbank)
print("Smallest Bank", sbank)

Total Market Cap 1591.97
Total number of banks 15
Average Market Cap  106.13133333333333
Largest Bank 327
Smallest Bank 0

In [29]:
fin_df=pd.DataFrame(dict_fin, index= ['M_cap'])

In [30]:
fin_df

,JP Morgan Chase,Bank of America,Citigroup,Wells Fargo,Goldman Sachs,Morgan Stanley,U.S. Bancorp,TD Bank,PNC Financial Services,Capital One,FNB Corporation,First Hawaiian Bank,Ally Financial,Republic Bancorp,American Express
M_cap,327,302,173,273,87,72,83,108,67,47,4,3,12,0.97,33

In [ ]:
fin_df()