In [1]:
subject = []

In [2]:
subject = "Programmers"

In [3]:
first_name = []

In [4]:
first_name = "Ada"

In [5]:
last_name = "Lovelace"

In [6]:
full_name = [first_name," ", last_name]

In [9]:
profession = "Computer Programmer"

In [10]:
known_for = "First Computer Programmer"

In [11]:
first_algorithm = "Analytical Engine"

In [12]:
city_location = "London"

In [13]:
country_location = "England"

In [14]:
nationality = "British"

In [43]:
birth_year = int(1815)

In [42]:
death_year = int(1852)

In [18]:
age_at_passing = death_year - birth_year

In [45]:
year_of_publish = int(1842)

In [46]:
print("First Name:", first_name)

First Name: Ada

In [47]:
print("Last Name:", last_name)

Last Name: Lovelace

In [48]:
print("Profession: ", profession)

Profession:  Computer Programmer

In [49]:
print("BirthYear:", birth_year)

BirthYear: 1815

In [50]:
print(subject,":",first_name,last_name,"is a", nationality,profession,"born in", birth_year)

Programmers : Ada Lovelace is a British Computer Programmer born in 1815

In [51]:
print("She is commonly referred to as the First",profession)

She is commonly referred to as the First Computer Programmer

In [52]:
print("She was a", nationality, "Citizen who lived in", city_location, country_location, "until her passing in", death_year, "at the age of", age_at_passing, ".")

She was a British Citizen who lived in London England until her passing in 1852 at the age of 37 .

In [63]:
farm = ["pig", "cow", "chicken", "dog", "horse", "sheep"]

In [64]:
farm

['pig', 'cow', 'chicken', 'dog', 'horse', 'sheep']

In [81]:
if farm[0] != "Godzilla":
    print("RWAR!")

RWAR!

In [82]:
farm[-1]

'sheep'

In [100]:
if farm[-1] != 'Mothra':
    print("SCREECH!")
else:
    print("The animal is neither Godzilla nor Mothra!")

SCREECH!

In [87]:
dog ="Spot"

In [92]:
city =0

In [93]:
cat =0

In [94]:
car =0

In [95]:
cat = "Farley"

In [96]:
city= "San Francisco"

In [97]:
car = "Prius"

In [102]:
print("See",dog,"run!")

See Spot run!

In [103]:
print("I dive",cat,"around",city,"in my",car)

I dive Farley around San Francisco in my Prius

In [105]:
budget = 5000
rent_cost =1500
utilities_cost=150
food_cost =250
transportation_cost=350
computer_cost =2000

In [118]:
total_cost= budget+rent_cost+utilities_cost+food_cost+transportation_cost+computer_cost
diff=total_cost-budget

In [119]:
if total_cost <= budget:
    print("Your total cost is", totoal_cost)
else:
    print("You're over budget by: $",diff)

You're over budget by: $ 4250

In [122]:
sum_cost=utilities_cost+food_cost+transportation_cost

if rent_cost > sum_cost:
    print("The rent is too damn high!")
else:
    print("Ahh just right")

The rent is too damn high!