In [1]:
c1_name ="Mr. Farley"

In [2]:
c1_age =65

In [3]:
c1_profession = "Web Developer"

In [4]:
c1_salary = float (100000.00)

In [5]:
c1_species = "cat"

In [6]:
c1_location = "San Francisco,CA"

In [7]:
c1_monthly_rent= 2000

In [10]:
c1_monthly_rent=2000


c1_monthly_expenses= 1500


c1_yearly_rent= c1_monthly_rent * 12


c1_yearly_expenses= 1500.00 * 12


c1_savings= c1_salary - (c1_yearly_rent + c1_yearly_expenses)

In [15]:
c2_name ="Mr. Snuggles"

c2_age= 30

c2_species = "mouse"

c2_profession = "Accountant"

c2_salary = 70000 

c2_location= "Oakland, CA"

c2_monthly_rent = 4000

c2_monthly_expenses = 500

c2_yearly_rent= c2_monthly_rent * 12

c2_yearly_expenses = c2_monthly_expenses * 12

c2_savings = c2_salary - (c1_yearly_rent + c2_yearly_expenses)

In [27]:
if c1_location == "Oakland, CA":
    print("Mr. Farley comes from the home of the Raiders!")

else:
    if c2_location == "San Francisco,CA":
        print("Mr. Farley comes from the home of the 49ers!.")
print("Mr. Farley doesn't hail from a sports town.")

Mr. Farley doesn't hail from a sports town.

In [45]:
if c1_monthly_rent > c2_monthly_rent:
    print("Mr. Farley pays more rent than Mr. Snuggles")

elif c1_monthly_rent < c2_monthly_rent :
    print("Mr. Farley pays less rent than Mr. Snuggles")

else:
    print("Mr. Farley pays the same rent as Mr. Snuggles")

Mr. Farley pays less rent than Mr. Snuggles

In [32]:
###tutor magic 
from metakernel import register_ipython_magics
register_ipython_magics()

%%tutor
farm = ["pig", "cow", "chicken", "dog", "horse" , "sheep"]
if farm[0] != "Godzilla":  # is not
    print("raw")
if farm[-1] == "mothra":   # is
    print("screech")
else:
    print("This animal is neither Godzilla nor Mothra!")

In [46]:
if c1_monthly_expenses > c2_monthly_expenses:
    print("Mr. Farley has more expenses than Mr. Snuggles")

elif c1_monthly_rent < c2_monthly_rent :
    print("Mr. Farley pays less expenses than Mr. Snuggles")

else:
    print("Mr. Farley pays the same expenses as Mr. Snuggles")

Mr. Farley has more expenses than Mr. Snuggles

In [49]:
if c1_profession = ="Web Developer") and (c2_profession == "Accountant"):
    print(""Look a Web Developer and an Accountant")

else:
    print("They are professionals")

SyntaxError: invalid syntax (<ipython-input-49-2f959a56c485>, line 1)